@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}

button{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.nav {
    position: absolute;
    left:0;
    top:0;
    display: flex;
    flex-flow: row;
    background-color:#383e4c;
    justify-content: center;
    align-items: center;
}

nav#nav {
    height: 8vh;
    width:100%;
}

.nav > button{
    background-color:#383e4c;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    color:white;
    margin-right: 0.8vw;
    height: 5vh;
    width: 10vw;
    border: 0.1vw solid #434958;
    align-self: center;
}

.nav > .home{
    background-color: #49505f;
}

.hero{
    z-index: -999;
    position: absolute;
    left:0;
    top: 8vh;
    display: inline-flex;
    flex-flow: column;
    background-image: url(Assets/img11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
    background-position: 0vw -5vh;
    background-attachment: fixed;
}

section#hero {
    height: 50vh;
    width:100%;
}

.hero > h1{
    font-weight: normal;
    font-size: 5vw;
    text-shadow: 0.1vw 0.2vw black;
    position: fixed;
    
}

.hero > h2{
    font-weight: normal;
    font-size: 1.5vw;
    top: 37vh;
    text-shadow: 0.1vw 0.1vw black;
   position: fixed;
}

.cards1{
    position: absolute;
    left:0;
    top:58vh;
    padding-top: 7vh;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    background-color: white;
    z-index: 4;
}

article#cards1 {
    width: 100%;
    height:70vh;
}

section.card1-1, section.card1-2, section.card1-3{
    width: 20vw;
    margin-right: 2vw;
    background-color: #f2f2f2;
    height: 66vh;
}

section.card1-1 > img{
    width: 20vw;
}

section.card1-2 > img{
    width: 20vw;
}

section.card1-3 > img{
    width: 20vw;
}

section.card1-1 > h3{
    width:94%;
    margin-left: 1vw;
    color: green;
    font-size: 1.3vw;
}

section.card1-1 > p{
    width:94%;
    margin-left: 1vw;
    font-size: 1.1vw;
}

section.card1-1 > button{
    color: white;
    background-color: #178a27;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 0.5vw;
    width: 9vw;
    height: 7vh;
    margin-left: 5vw;
    font-size: 1.2vw;
}

section.card1-3 > h3{
    width:94%;
    margin-left: 1vw;
    color: #898989;
    font-size: 1.3vw;
}

section.card1-3 > p{
    width:94%;
    margin-left: 1vw;
    font-size: 1.1vw;
}

section.card1-3 > button{
    color: white;
    background-color: #852406;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 0.5vw;
    width: 9vw;
    height: 7vh;
    margin-left: 5vw;
    font-size: 1.2vw;
}

section.card1-2 > h3{
    width:94%;
    margin-left: 1vw;
    color: #1686c1;
    font-size: 1.3vw;
}

section.card1-2 > p{
    width:94%;
    margin-left: 1vw;
    font-size: 1.1vw;
}

section.card1-2 > button{
    color: white;
    background-color: #1686c1;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 0.5vw;
    width: 9vw;
    height: 7vh;
    margin-left: 6vw;
    font-size: 1.2vw;
}

.cards2{
    position: absolute;
    left:0;
    top:130vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    background-color: white;
}

article#cards2{
    width:100%;
    height: 62vh;
}

section.card2-1, section.card2-2{
    width: 31vw;
    margin-right: 2%;
    background-color: #f2f2f2;
    
}

section.card2-1 > img, section.card2-2 > img{
    width: 100%;
}



section.card2-1 > h3{
    margin-left: 9vw;
    width: fit-content;
    color: #989898;
    font-size: 0.95vw;
}

section.card2-1 > p{
    margin-left: 1.5vw;
    width: 28vw;
    color: #898989;
    font-size: 0.8vw;
}

section.card2-2 > h3{
    margin-left: 9vw;
    width: fit-content;
    color: #989898;
    font-size: .95vw;
}

section.card2-2 > p{
    margin-left: 1.5vw;
    width: 28vw;
    color: #898989;
    font-size: .8vw;
} 

button.more{
    background-color: white;
    margin-left: 22vw;
    border-radius: .7vw;
    color: #888888;
    border: 0.1vw solid #dadada;
    width:6.5vw;
    height: 5vh;
    font-size: .82vw;
}

.dividor{
    display: inline-flex;
    flex-flow: column;
    position: absolute;
    background-image: url(Assets/img13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 10%;
    color: white;
   z-index: 3;

}

section#dividor{
    left:0;
    top:200vh;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.dividor > h2{
    width: fit-content;
    font-size: 2vw;
    text-shadow: 0.1vw 0.2vw #aaaaaa;
}

.dividor > h3{
    width: fit-content;
    font-size: .79vw;
    margin-top: 0;
}

.dividor > h3:nth-of-type(2){
    width: 28vw;
    font-size: .79vw;
    margin-top: 0;
    margin-left: 2vw;
}

.dividor > h3:nth-of-type(3){
    width: 25vw;
    font-size: .79vw;
    margin-top: 0;
    margin-left: 10vw;
}



.cards3{
    position: absolute;
    left:0;
    top:225vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 9vh;
}

article#cards3 {
    width: 100%;
    height: 57vh;
}

section.card3-1, section.card3-2, section.card3-3, section.card3-4{
    width: 14vw;
    margin-right: 2vw;
    background-color: #f2f2f2;
    
}

section.card3-1 > img{
    width: 100%;
}

section.card3-2 > img{
    width: 100%;
}

section.card3-3 > img{
    width: 100%;
}

section.card3-4 > img{
    width: 100%;
}

section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
    width:fit-content;
    margin-left: 4vw;
    color: #666666;
    font-size: 0.9vw;
}

section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
    width:12vw;
    margin-left: 1.3vw;
    color: #959595;
    font-size: 0.8vw;
}


section.card3-2 > button{
    color: #767676;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    border: 0.1vw solid #dfdfdf;
    border-radius: 0.5vw;
    width: 5vw;
    height: 5vh;
    margin-left: 4.5vw;
    font-size: .8vw;
}


section.card3-4 > button{
    color: #767676;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    border: 0.1vw solid #dfdfdf;
    border-radius: 0.5vw;
    width: 5vw;
    height: 5vh;
    margin-left: 4.5vw;
    font-size: .8vw;
}

.big{
    display: inline-flex;
    flex-flow: column;
    position: absolute;
    background-color: #f2f2f2;
    
}

article#big{
    width:62vw;
    top:295vh;
    left:18vw;
    height: 90vh;
}

.big > h3{
    width:60vw;
    margin-left: 1.78vw;
    color: #898989;
    font-size: 1vw;
    margin-bottom: 0;
}

.big > p{
    width:58vw;
    margin-left: 1.78vw;
    font-size: 0.8vw;
}

.big > button{
    color: #767676;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    border: 0.1vw solid #dfdfdf;
    border-radius: 0.5vw;
    width: 7vw;
    height:5vh;
    margin-left: 1.78vw;
    font-size: 0.9vw;
}

.div2{
    z-index: -1;
    position: absolute;
    top:377vh;
    width: 100%;
    height: 40vh;
    background-color: white;
    display: flex;
    left:0;
}

.contact{
    display: inline-flex;
    flex-flow: column;
    position: absolute;
    background-image: url(Assets/img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    align-items: center;
    background-color: white;
}

section#contact{
    width: 100%;
    left:0;
    top: 385vh;
    margin-top: 10vh;
    height: 60vh;
}

.contact > h2{
    color: white;
    margin-top: 9vh;
    font-size: 2vw;
    text-shadow: 0.1vw 0.2vw black;
}

.text{
    display: inline-flex;
    flex-flow: column;
    background-color: rgba(218, 217, 217, 0.514);
    width: 29vw;
    border-radius: 0.5vw;
    margin-bottom: 2vh;
  
}

.contact > .text  h3{
    
    margin-top: 0;
    width: fit-content;
    font-size: 0.6vw;
    
}

.contact > .text > h3:nth-of-type(1){
    padding-top: 1vh;
    padding-left: 1.5vw;
    padding-left: 1.5vw;
}

.contact > .text > h3:nth-of-type(2){
    padding-left: 2.5vw;
}

.contact > .text > h3:nth-of-type(3){
    padding-left: 4.5vw;
}

.form{
    display: flex;
    flex-flow: row;
}

section#form{
    width: 29vw;
    height: 20vh;
}

section.left{
    width: 14.5vw;
    display: flex;
    flex-flow: column;
    color:black;
}

section.left > input{
    
   background-color: rgba(218, 217, 217, 0.514);
   height: 4vh;
   border: none;
   margin-top: 1vh;
   border-radius: .7vw;
}

section.left > input:first-of-type{
    border: none;
    margin-top: 0%;
 }
 

::placeholder {
    position: absolute;
    color: black;
    left:5%;
    font-size: 0.7vw;
}

section.right{
    width: 14.5vw;
    display: flex;
    flex-flow: column;
    margin-left: 4%;
}

section.right > input{
   background-color: rgba(218, 217, 217, 0.514);
   height: 13.8vh;
   border: none;
   border-radius: .7vw;
}

section.right > input::placeholder {
    position:absolute;
    left: 5%;
    top: 5%;
}

button.send{
    z-index: 3;
    width: 5vw;
    margin-left: 15.7vw;
    height: 5vh;
    border-radius: 0.5vw;
    color: white;
    background-color: #262628;
    border: 0.1vw solid white;
    margin-top: 1vh;
    font-size: .7vw;
}

footer{
    display: inline-flex;
    flex-flow: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

footer#footer{
    top: 455vh;
    left:0;
    width: 100%;
}

footer > h3{
    color: #666666;
    font-size: 1.5vw;
    font-style: italic;
    margin-bottom: 0;
}

hr{
    margin-top: 2.5vw;
    width: 100%;
    background-color: #f7f7f7; 
    height: 1px; 
    border: 0
}

footer > p:first-of-type{
    color: #666666;
    font-size: .55vw;
    font-style: italic;
}

footer > p:last-of-type{
    color: #999999;
    font-size: .55vw;
    font-style: italic;
}

footer > img{
    align-self: flex-end;
    margin-right: 1%;
    margin-bottom: 1%;
    
}

@media screen{
    body{
        overflow-x: hidden;
    }
}

@media screen and (min-width:1200px) and (max-width:1440px) {
    article#cards1.cards1{
        height: 53vh;
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 53vh;
    }

    article#cards2.cards2{
        top:118vh;
        height: 49vh;
    }

    section.card2-1, section.card2-2{
        height: 49vh;
    }

    section#dividor{
        top:177vh;
    }

    article#cards3{
        top:202vh;
        height: 45vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 45vh;
    }

    article#big{
        top:260.9vh;
        height: 70vh;
    }

    section#contact{
        top:330.9vh;
    }

    section.div2{
        top:320.9vh;
    }

    footer#footer{
        top:400.9vh;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    article#cards1.cards1{
        height: 45vh;
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 45vh;
    }

    article#cards2.cards2{
        top:110vh;
        height: 42vh;
    }

    section.card2-1, section.card2-2{
        height: 42vh;
    }

    section#dividor{
        top:162vh;
    }

    article#cards3{
        top:187vh;
        height: 38vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 38vh;
    }

    article#big{
        top:239vh;
        height: 60vh;
    }

    section#contact{
        top:298.9vh;
        height: 50vh;
    }

    section.div2{
        top:288.9vh;
    }

    footer#footer{
        top:358.9vh;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    article#cards1.cards1{
        height: 38vh;
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 38vh;
    }

    section.card1-1 > button, section.card1-2 > button, section.card1-3 > button{
        height: 5vh;
    }

    article#cards2.cards2{
        top:102vh;
        height: 40vh;
    }

    section.card2-1, section.card2-2{
        height: 40vh;
    }

    section.card2-1 > h3, section.card2-2 > h3{
        font-size: 1.2vw;
    }

    section.card2-1 > p, section.card2-2 > p{
        font-size: 0.95vw;
    }

    section#dividor{
        top:152vh;
    }

    section#dividor > h2{
        font-size: 3vw;
    }

    section#dividor > h3{
        font-size: 1vw;
    }

    section#dividor > h3:nth-of-type(2){
        font-size: 1vw;
        width: fit-content;
    }

    article#cards3{
        top:177vh;
        height: 38vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 38vh;
    }

    section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
        font-size: 1.1vw;
        margin-left: 25%;
    }

    section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
        font-size: 1vw;
        margin-left: 8%;
    }

    section.card3-2 > button, section.card3-4 > button{
        height: 10%;
    }

    article#big{
        top:229vh;
        height: 60vh;
    }

    article#big > h3{
        font-size: 1.2vw;
    }

    article#big > p{
        font-size: 1vw;
    }

    section#contact{
        top:288.9vh;
        height: 50vh;
    }

    section#contact > h2{
        font-size: 3vw;
    }

    section#contact > .text > h3{
        font-size: 0.7vw;
        width: fit-content;
    }

    .text{
        width:32.5vw;
    }

    section#form{
        width: 32.5vw;
    }

    section#contact > .form > section.left > button{
        height: 4vh;
    }

    section#contact > .form > section.left{
        width:50%;
    }

    section#contact > .form > section.right{
        width:45%;
        
    }

    section.div2{
        top:278.9vh;
    }

    footer#footer{
        top:348.9vh;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .hero> h1{
        font-size: 6.2vw;
    }

    .hero> h2{
        font-size: 2vw;
    }

    article#cards1.cards1{
        height: 28vh;
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 28vh;
    }

    section.card1-1 > button, section.card1-2 > button, section.card1-3 > button{
        height: 4vh;
        font-size: 1vw;
    }

    article#cards2.cards2{
        top:93vh;
        height: 39vh;
    }

    section.card2-1, section.card2-2{
        height: 39vh;
    }

    section.card2-1 > h3, section.card2-2 > h3{
        margin-left: 25%;
        font-size: 1.6vw;
    }

    section.card2-1 > p, section.card2-2 > p{
        font-size: 1.2vw;
    }

    section.card2-2 > button{
        height: 4vh;
        font-size: .9vw;
    }

    section#dividor{
        top:142vh;
    }

    section#dividor > h2{
        font-size: 4vw;
        margin-top:0;
    }

    section#dividor > h3{
        font-size: 1.5vw;
    }

    section#dividor > h3:nth-of-type(2){
        font-size: 1.5vw;
        width: fit-content;
    }

    section#dividor > h3:nth-of-type(3){
        width: fit-content;
    }

    article#cards3{
        top:167vh;
        height: 34vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 34vh;
    }

    section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
        font-size: 1.4vw;
        margin-left: 15%;
    }

    section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
        font-size: 1.2vw;
        margin-left: 8%;
    }

    section.card3-2 > button, section.card3-4 > button{
        width: 50%;
        font-size: 1vw;
        height: 10%;
    }

    article#big{
        top:215vh;
        height: 60vh;
    }

    article#big > h3{
        font-size: 1.6vw;
    }

    article#big > p{
        font-size: 1.4vw;
    }

    section#contact{
        top:275vh;
        height: 50vh;
    }

    section#contact > h2{
        font-size: 4vw;
    }

    section#contact > .text > h3{
        font-size: 1vw;
        width: fit-content;
    }

    .text{
        width:45vw;
    }

    section#form{
        width: 45vw;
    }

    section#contact > .form > section.left > button{
        height: 3vh;
        width: 7vw;
        margin-left: 110%;
    }

    section#contact > .form > section.left > input::placeholder{
        font-size: 1.3vw;
    }

    section#contact > .form > section.right > input::placeholder{
        font-size: 1.3vw;
    }

    section#contact > .form > section.left{
        width: 50%;
    }

    section#contact > .form > section.right{
        width: 45%;
    }

    section.div2{
        top:268.9vh;
    }

    footer#footer{
        top:335vh;
    }

    footer#footer > h3{
        font-size: 2.5vw;
    }

    footer#footer > p{
        font-size: 1vw;
    }
}



@media screen and (min-width:425px) and (max-width:600px) {

    

    article#cards1.cards1{
        height: 28vh;
        
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 28vh;
        width: 25vw;
    }

    section.card1-1 > img, section.card1-2 > img, section.card1-3 > img{
        width: 100%;
    }

    section.card1-1 > h3, section.card1-2 > h3, section.card1-3 > h3{
        font-size: 2vw;
    }

    section.card1-1 > p, section.card1-2 > p, section.card1-3 > p{
        font-size: 1.4vw;
    }

    section.card1-1 > button, section.card1-2 > button, section.card1-3 > button{
        height: 4vh;
        font-size: 1.1vw;
        margin-left: 30%;
    }

    article#cards2.cards2{
        top:93vh;
        height: 38vh;
    }

    section.card2-1, section.card2-2{
        height: 38vh;
        width: 38%;
    }

    section.card2-1 > h3, section.card2-2 > h3{
        margin-left: 25%;
        font-size: 1.8vw;
        width: 90%;
    }

    section.card2-1 > p, section.card2-2 > p{
        font-size: 1.5vw;
        width: 90%;
    }

    section.card2-2 > button{
        height: 4vh;
        width: 11vw;
        font-size: 1.5vw;
    }

    section#dividor{
        top:141vh;
    }

    section#dividor > h2{
        font-size: 4vw;
        margin-top:0;
    }

    section#dividor > h3{
        font-size: 1.5vw;
    }

    section#dividor > h3:nth-of-type(2){
        font-size: 1.5vw;
        width: fit-content;
    }

    section#dividor > h3:nth-of-type(3){
        width: fit-content;
    }

    article#cards3{
        top:166vh;
        height: 34vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 34vh;
        width:17%;
    }

    section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
        font-size: 1.7vw;
        margin-left: 15%;
    }

    section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
        font-size: 1.41vw;
        margin-left: 8%;
    }

    section.card3-2 > button, section.card3-4 > button{
        width: 50%;
        font-size: 1.3vw;
        height: 10%;
    }

    article#big{
        top:214vh;
        height: 60vh;
        left:12%;
        width: 74%;
    }

    article#big > h3{
        font-size: 2vw;
    }

    article#big > p{
        font-size: 1.6vw;
        width: 90%;
    }

    article#big > button{
        font-size: 1.4vw;
        width: 15%;
    }

    section#contact{
        top:274vh;
        height: 50vh;
    }

    section#contact > h2{
        font-size: 5vw;
    }

    section#contact > .text > h3{
        font-size: 1.5vw;
        width: fit-content;
    }

    .text{
        width:67vw;
    }

    section#form{
        width: 67vw;
    }

    section#contact > .form > section.left > button{
        height: 4vh;
        width: 9vw;
        margin-left: 110%;
        font-size: 2vw;
    }

    section#contact > .form > section.left > input::placeholder{
        font-size: 1.3vw;
    }

    section#contact > .form > section.right > input::placeholder{
        font-size: 1.3vw;
    }

    section#contact > .form > section.left{
        width: 50%;
    }

    section#contact > .form > section.right{
        width: 45%;
    }

    section.div2{
        top:268.9vh;
    }

    footer#footer{
        top:334vh;
    }

    footer#footer > h3{
        font-size: 2.7vw;
    }

    footer#footer > p{
        font-size: 1.2vw;
    }
}

@media screen and (min-width:320px) and (max-width:425px) {
    .nav > button{
        width: 15vw;
        font-size: 2vw;
    }

    .hero > h1{
        font-size: 10vw;
    }
    
    .hero > h2{
        font-size: 3vw;
    }

    article#cards1.cards1{
        height: 28vh;
        
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 28vh;
        width: 25vw;
    }

    section.card1-1 > img, section.card1-2 > img, section.card1-3 > img{
        width: 100%;
    }

    section.card1-1 > h3, section.card1-2 > h3, section.card1-3 > h3{
        font-size: 2.5vw;
    }

    section.card1-1 > p, section.card1-2 > p, section.card1-3 > p{
        font-size: 1.8vw;
    }

    section.card1-1 > button, section.card1-2 > button, section.card1-3 > button{
        height: 3vh;
        font-size: 1.5vw;
        margin-left: 25%;
        width: 50%;
    }

    article#cards2.cards2{
        top:93vh;
        height: 38vh;
    }

    section.card2-1, section.card2-2{
        height: 38vh;
        width: 38%;
    }

    section.card2-1 > h3, section.card2-2 > h3{
        margin-left: 15%;
        font-size: 2.5vw;
        width: 90%;
    }

    section.card2-1 > p, section.card2-2 > p{
        font-size: 2vw;
        width: 90%;
    }

    section.card2-2 > button{
        height: 4vh;
        width: 11vw;
        font-size: 1.5vw;
    }

    section#dividor{
        top:141vh;
    }

    section#dividor > h2{
        font-size: 6vw;
        margin-top:0;
    }

    section#dividor > h3{
        font-size: 2.0vw;
    }

    section#dividor > h3:nth-of-type(2){
        font-size: 2vw;
        width: fit-content;
    }

    section#dividor > h3:nth-of-type(3){
        width: fit-content;
    }

    article#cards3{
        top:166vh;
        height: 30vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 30vh;
        width:17%;
    }

    section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
        font-size: 2vw;
        margin-left: 10%;
    }

    section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
        font-size: 1.8vw;
        margin-left: 8%;
    }

    section.card3-2 > button, section.card3-4 > button{
        width: 60%;
        font-size: 1.7vw;
        height: 8%;
    }

    article#big{
        top:210vh;
        height: 56vh;
        left:12%;
        width: 74%;
    }

    article#big > h3{
        font-size: 3vw;
    }

    article#big > p{
        font-size: 2.2vw;
        width: 90%;
    }

    article#big > button{
        font-size: 1.7vw;
        width: 17%;
        height: 7%;
    }

    section#contact{
        top:266vh;
        height: 50vh;
    }

    section#contact > h2{
        font-size: 6vw;
    }

    section#contact > .text > h3{
        font-size: 2vw;
        width: fit-content;
    }

    .text{
        width:89vw;
    }

    section#form{
        width: 89vw;
    }

    section#contact > .form > section.left > button{
        height: 3vh;
        width: 13vw;
        margin-left: 109%;
        font-size: 2.2vw;
    }

    section#contact > .form > section.left > input::placeholder{
        font-size: 2vw;
    }

    section#contact > .form > section.right > input::placeholder{
        font-size: 2vw;
    }

    section#contact > .form > section.left{
        width: 50%;
    }

    section#contact > .form > section.right{
        width: 45%;
    }

    section.div2{
        top:258.9vh;
    }

    footer#footer{
        top:326vh;
    }

    footer#footer > h3{
        font-size: 5vw;
    }

    footer#footer > p{
        font-size: 2vw;
    }
}

@media screen and (max-width:320px) {

    article#cards1.cards1{
        height: 28vh;
        
    }

    section.card1-1, section.card1-2, section.card1-3{
        height: 28vh;
        width: 25vw;
    }

    section.card1-1 > img, section.card1-2 > img, section.card1-3 > img{
        width: 100%;
    }

    section.card1-1 > h3, section.card1-2 > h3, section.card1-3 > h3{
        font-size: 2.7vw;
    }

    section.card1-1 > p, section.card1-2 > p, section.card1-3 > p{
        font-size: 2.3vw;
    }

    section.card1-1 > button, section.card1-2 > button, section.card1-3 > button{
        height: 3vh;
        font-size: 1.8vw;
        margin-left: 15%;
        width: 70%;
    }

    article#cards2.cards2{
        top:93vh;
        height: 38vh;
    }

    section.card2-1, section.card2-2{
        height: 38vh;
        width: 38%;
    }

    section.card2-1 > h3, section.card2-2 > h3{
        margin-left: 10%;
        font-size: 2.7vw;
        width: 90%;
    }

    section.card2-1 > p, section.card2-2 > p{
        font-size: 2.5vw;
        width: 90%;
    }

    section.card2-2 > button{
        height: 3vh;
        width: 15vw;
        font-size: 2vw;
    }

    section#dividor{
        top:141vh;
    }

    section#dividor > h2{
        font-size: 6vw;
        margin-top:0;
    }

    section#dividor > h3{
        font-size: 2.0vw;
    }

    section#dividor > h3:nth-of-type(2){
        font-size: 2vw;
        width: fit-content;
    }

    section#dividor > h3:nth-of-type(3){
        width: fit-content;
    }

    article#cards3{
        top:166vh;
        height: 30vh;
    }

    section.card3-1, section.card3-2, section.card3-3, section.card3-4{
        height: 30vh;
        width:17%;
    }

    section.card3-1 > h3, section.card3-2 > h3, section.card3-3 > h3, section.card3-4 > h3{
        font-size: 2.1vw;
        margin-left: 10%;
    }

    section.card3-1 > p, section.card3-2 > p, section.card3-3 > p, section.card3-4 > p{
        font-size: 2.2vw;
        margin-left: 8%;
    }

    section.card3-2 > button, section.card3-4 > button{
        width: 65%;
        font-size: 1.9vw;
        height: 8%;
    }

    article#big{
        top:210vh;
        height: 56vh;
        left:12%;
        width: 74%;
    }

    article#big > h3{
        font-size: 3.5vw;
    }

    article#big > p{
        font-size: 2.65vw;
        width: 90%;
    }

    article#big > button{
        font-size: 2vw;
        width: 22%;
        height: 7%;
    }

    section#contact{
        top:266vh;
        height: 50vh;
    }

    section#contact > h2{
        font-size: 6vw;
    }

    section#contact > .text > h3{
        font-size: 2vw;
        width: fit-content;
    }

    .text{
        width:89vw;
    }

    section#form{
        width: 89vw;
    }

    section#contact > .form > section.left > button{
        height: 3vh;
        width: 13vw;
        margin-left: 109%;
        font-size: 2.2vw;
    }

    section#contact > .form > section.left > input::placeholder{
        font-size: 2vw;
    }

    section#contact > .form > section.right > input::placeholder{
        font-size: 2vw;
    }

    section#contact > .form > section.left{
        width: 50%;
    }

    section#contact > .form > section.right{
        width: 45%;
    }

    section.div2{
        top:258.9vh;
    }

    footer#footer{
        top:326vh;
    }

    footer#footer > h3{
        font-size: 5vw;
    }

    footer#footer > p{
        font-size: 2vw;
    }
}